<strong>Confirmação de novas apostas</strong>

<p>Você está recebendo este e-mail para confirmar que novas apostas foram feitas neste e-mail({{email}})</p>
<p>Se você não reconhece esta ação, por favor altere sua senha</p>


